.filters {
    background-color: #fff;
    height: 70px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

.filters button {
    font-size: 18px;
    background: #ff5a5f;
    color: #fff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    margin-left: auto;
    margin-right: 30px;
}

.filters button:hover {
    background: rgba(255, 90, 96, 0.9);
}